<!DOCTYPE html>

<head>
    <link href="app.component.css" type="stylesheet/css" rel="stylesheet" />
    <link href="app.component.ts" type="script" rel="script" />
</head>
<h2 id="welcome"> WELCOME</h2>

<h4 id="note">Please fill this to SignUp</h4>

<div>

    <body>
        <div class="form">
            <h4 id="important">fields marked * are important</h4>
            <form action="index.php" method="POST">
                <label for="First Name">First Name</label>
                <input type="text" id="firstname" placeholder="First name" required>
                <label for="Last name">Last Name</label>
                <input type="text" id="lastname" placeholder="Last Name" required>
                <br>
                <br>
                <label for="email">Email</label>
                <br>
                <input type="email" id="email" placeholder="Username *" required>
                <br>
                <br>
                <label for="password">Password</label>
                <br>
                <input type="password" id="password" placeholder="password *" required>
                <br>
                <br>
                <label for="mobile number">Mobile Number</label>
                <br>
                <input type="number" id="mobile number" placeholder=" with code" required>
                <br>
                <br>
                <label for="dateofbirth">DOB</label>
                <br>
                <input type="date" id="dateofbirth">
                <br>
                <br>
                <input type="checkbox" id="checkbox" required> If information is correct tick the box
                <br>
                <br>
                <button mat-button class="submit" onclick="login()"> Submit </button>
                <p> </p>
                <button mat-raised-button type="submit" class="button2"> <a
                        href="https://accounts.google.com/signout/chrome/landing?continue=https://mail.google.com/mail&oc=https://mail.google.com/mail&hl=en">
                        SignIn with google </a>

                </button>
            </form>
        </div>
        <br>
        <script type="text/javascript">
            
            
            }
        </script>
    </body>
</div>