<!DOCTYPE html>
<head>
    <link href="app.component.css" type="stylesheet/css" rel="stylesheet" />

</head>
<h2 id="welcome"> WELCOME</h2>
<br>
<h4 id="note">Please fill this to LogIn</h4>
<br>
<div>
    <body>  
        <div class="form">
            <h4 id="important">fields marked  * are important</h4>
            <form action="index.php" method="POST">
                <label for="email">Email</label>
                <br>
                <input type="email" id="email" placeholder="Username *" required> 
                <br>
                <br>
                <label for="password">Password</label>
                <br>
                <input type="password" id="password" placeholder="password *" required>
                <br>
                <br>
                <input type="checkbox" id="checkbox" required> If information is correct tick the box
                <br>
                <br>
                <button class="submit"> Submit </button><p>  </p>
                <button type="submit" class="button2">  <a href="https://accounts.google.com/signout/chrome/landing?continue=https://mail.google.com/mail&oc=https://mail.google.com/mail&hl=en"> SignIn with google </a>
                
            </button>
            </form>
        </div>
    </body>
</div>