div{
    margin: auto;
    border: 5cm 5cm;
    border-radius: 10px;
    background-color:lightgreen;
    align-content: center;
    padding-left: 300px;
}
#note{
    text-align: center;
    text-shadow: lightseagreen;
    font-family:  Georgia;
    font-style: italic;
}
#welcome{
    text-align: center;
    text-shadow: rgb(127, 71, 134);
    font-family:  Georgia;
}
.submit  {
background-color: rgb(180, 180, 33);
font-family: monospace;
display: block;

}

.button2 {
    display:block;
    font-family: Georgia;
    background-color: rgb(174, 156, 187);
}


 