<app-left-nav></app-left-nav>
<!-- 
<app-left-nav></app-left-nav>
<span>{{sampleService.sampleNumbers}}</span>
<input />
<button type="submit" (click)="btnClick()">sdfdsfs</button>
<h2>{{balaji}}</h2> -->
<!-- <app-overlay></app-overlay> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-reactive-form-builder></app-reactive-form-builder> -->
<!-- <app-reactive-forms></app-reactive-forms> -->

<!-- <app-autocomplete [name]="balaji"></app-autocomplete>
<app-balajidemo></app-balajidemo>
<app-login></app-login> -->
<!-- 
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput type="text" 
        placeholder="Pick one" aria-label="Number" [formControl]="myControl"
            [matAutocomplete]="auto2">


        <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}} sdfgdfgdfg d
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<input />
<input type="button" id="button" value="Click Me" /> -->
<!-- <app-login></app-login> -->














<!-- <h1>{{title}}</h1>
<input id="username" type="text" [(ngModel)]="username" name="username" placeholder="username" class="sdfsdf "/>
<input id="password" type="text" [(ngModel)]="password" name="password" placeholder="password" class="sdfsdf "/>

<button mat-button color="primary" (click)="signin()">Primary</button> -->