html{
    background-color:lightsalmon;
    background-image: ;
}
#welcome{
    text-align: center;
}
#note{
    text-align: center;
}
.container{
    align-self: center;
    padding-left: 550px;
    padding-top: 70px;
   
}